
body {
  background-image: linear-gradient(to top, #121f32, #171d35, #1f1936, #291435, #330c30);


}

.table {
  --bs-table-bg: unset;
  --bs-table-color: unset;
}

.table-hover > tbody > tr:hover > *{
  background-color: #1c304e;
  color: aliceblue;
}

.todo-header{
  color: white;
}

.bs-trash:hover {
  color: #ff0000;
}

.bs-bookmark:hover {
  color: rgb(0, 236, 0);
}

.todo-done{
  text-decoration: line-through;
}

.table-todo {
  color: white;
}

.bg-todo-color {
  background-color: #1c304e;
}

.bg-button-addTodo {
  background-color: #04f50b;
}

.list-todo {
  color: white;
}

